.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}

.logo-container {
    /* border: 2px solid black; */
    padding: 5% 0 0 5%;
}

.display {
    /* margin-top: 25px; */
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin: 3% auto 6% auto;
}

.button-container {
    display: flex;
}

.number-container{
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}

.number-button {
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #184379;
    border: none;
    border-bottom: 4px solid black;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
}

.special-button {
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #225d9e;
    border: none;
    border-bottom: 4px solid black;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
}

.number-button:nth-child(10) {
    width: 215px;
    border-radius: 35px;
}

.number-button:active {
    border-bottom: 4px solid #c00025;
}

.special-button:active {
    border-bottom: 4px solid #c00025;
}

.operator-container {
    width: 30%;
}

.operator-button {
    font-size: 30px;
    width: 100px;
    height: 100px;
    color: white;
    background-color: #237293;
    border: none;
    border-bottom: 4px solid black;
    border-radius: 100%;
    margin-bottom: 15px;
    margin-left: 20px;
}

.operator-button:active {
    border-bottom: 4px solid #c00025;
}